html {
	--image-width: 20%;
	--image-radius: 1px;
}

html,
body {
	font-family: 'Roboto', serif;
	margin: 0;
	padding: 0;
}

body {
	margin-top: calc(var(--nav-height) + 20px);
	background-color: #f1f1f1;
}

.nav {
	box-sizing: border-box;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0px;

	padding: 20px;
	align-items: center;
	display: flex;
	color: #eff7d3;
	background-color: #535a3b;
	justify-content: space-between;
	flex-wrap: wrap;

	& div {
		display: flex;
		gap: 10px;
		& label {
			align-content: center;
		}
	}
}

.title {
	margin-block-start: 0;
	margin-block-end: 0;
}
.cardType {
	font-weight: 300;
	font-style: normal;
	font-size: x-large;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 50px;
	color: #535a3b;
	border: solid 2px #535a3b;
	border-radius: 10px;
}

img {
	width: 100%;
	border-radius: var(--image-radius);
	box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

.cardBox {
	display: flex;
	flex-wrap: wrap;
}

.deck {
	margin: 20px;
}

.imgBox {
	width: var(--image-width);
	border-radius: var(--image-radius);
	box-sizing: border-box;
	padding: 3px;
}
.imgBox:hover {
	filter: brightness(1.2);
}

#moxfieldInput {
	height: 30px;
	border-radius: 5px;
	text-align: center;
	border: none;
	color: #535a3b;
	background-color: #f1f1f1;
	box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

.fa-plus {
	cursor: pointer;
}
.fa-minus {
	cursor: pointer;
}
.fa-search {
	padding-right: 5px;
}

.sliderContainer {
	pointer-events: none;
	position: fixed; /* Set the navbar to fixed position */
	width: 100%;
	bottom: 15px;
	display: flex;
	justify-content: center; /* Centers the child horizontally */
	align-items: center;
	z-index: 1;
	user-select: none;
}

.sliderBorder {
	pointer-events: auto;
	border-radius: 40px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#imageSize {
	transform: rotate(180deg);
	width: 200px;
	height: 5px;
	border-radius: 2.5px;
	background: #949494;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
}

input[type='range']::-webkit-slider-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 5px black;
}

.clicked {
	animation-name: cssAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

@keyframes cssAnimation {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}

.context-menu {
	position: absolute;
	background: #f1f1f1;
	box-shadow: 2px 2px 10px rgb(102, 102, 102);
	overflow: hidden;
	z-index: 1;
}

.context-menu ul {
	padding: 0px;
	margin: 0px;
	min-width: 150px;
	list-style: none;
	font-weight: 300;
	font-style: normal;
	border: 1px solid #535a3b;
}

.context-menu ul li {
	padding-top: 7px;
	padding-bottom: 7px;
}

.context-menu li {
	padding-left: 20px;
	border-bottom: 1px solid #535a3b;
}

.context-menu li:last-child {
	border-bottom: none;
}

.context-menu ul li:hover {
	color: #eff7d3;
	background: #535a3b;
	cursor: default;
}
